<entry>
    <version>4.3.7</version>
    <ios_version>1</ios_version>
    <url>http://sanfrancisco.kapeli.com/feeds/Spring_Framework.tgz</url>
    <url>http://london.kapeli.com/feeds/Spring_Framework.tgz</url>
    <url>http://newyork.kapeli.com/feeds/Spring_Framework.tgz</url>
    <url>http://tokyo.kapeli.com/feeds/Spring_Framework.tgz</url>
    <url>http://frankfurt.kapeli.com/feeds/Spring_Framework.tgz</url>
    <url>http://sydney.kapeli.com/feeds/Spring_Framework.tgz</url>
    <url>http://singapore.kapeli.com/feeds/Spring_Framework.tgz</url>
    <other-versions>
        <version><name>4.3.7</name></version>
        <version><name>4.3.6</name></version>
        <version><name>4.3.5</name></version>
        <version><name>4.3.4</name></version>
        <version><name>4.3.3</name></version>
        <version><name>4.3.2</name></version>
        <version><name>4.3.1</name></version>
        <version><name>4.3.0</name></version>
        <version><name>4.2.6</name></version>
        <version><name>4.2.5</name></version>
        <version><name>4.2.4</name></version>
        <version><name>4.2.3</name></version>
        <version><name>4.2.2</name></version>
        <version><name>4.2.1</name></version>
        <version><name>4.2.0</name></version>
        <version><name>4.1.7</name></version>
        <version><name>4.1.6</name></version>
        <version><name>4.1.5</name></version>
        <version><name>4.1.4</name></version>
        <version><name>4.0.6</name></version>
        <version><name>3.2.11</name></version>
    </other-versions>
</entry>